h1 {
  color: #97cba9;
  font-weight: 300px;
  font-size: 50px;
}

li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
li::first-letter {
  text-transform: capitalize;
}

.btn {
  background-color: #97cba9;
  color: white;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.wrapper {
  max-width: 800px;
  margin: 40px auto;
}

a:hover {
  cursor: pointer;
}

.overview {
  text-align: center;
}

.current {
  margin: 20px;
  color: #97cba9;
  font-weight: 350px;
  font-size: 75px;
}
