h1 {
  color: #97cba9;
  font-weight: 300px;
  font-size: 70px;
}

ul {
  margin: 0px 0px 30px 0px;
  padding: 0px;
}
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
li::first-letter {
  text-transform: capitalize;
}

a {
  color: #97cba9;
}

img {
  position: relative;
  left: -11px;
}
.current-icon {
  position: relative;
  top: -90px;
}

.btn {
  background-color: #97cba9;
  color: white;
  border: 1px solid #97cba9;
  border-radius: 30px;
  padding: 10px;
  width: 150px;
  transition: all 200ms ease;
}

.btn:hover {
  color: #97cba9;
  background-color: white;
  border: 1px solid #97cba9;
  padding: 10px;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.wrapper {
  max-width: 800px;
  margin: 40px auto;
}

a:hover {
  cursor: pointer;
}

.overview {
  text-align: center;
}

.current {
  margin: 20px;
  color: #97cba9;
  font-weight: 300px;
  font-size: 60px;
}

.gitLink {
  color: #97cba9;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
